body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1478px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1478px;
}
#u1 {
  position:absolute;
  left:2px;
  top:731px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:260px;
  width:640px;
  height:960px;
}
#u3 {
  position:absolute;
  left:60px;
  top:260px;
  width:640px;
  height:100px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:100px;
}
#u4 {
  position:absolute;
  left:2px;
  top:42px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:75px;
  top:270px;
  width:210px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:206px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:75px;
  top:320px;
  width:210px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:206px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:300px;
  top:270px;
  width:210px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:206px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:300px;
  top:320px;
  width:210px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:206px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:480px;
  top:320px;
  width:30px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:525px;
  top:270px;
  width:160px;
  height:80px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u16 {
  position:absolute;
  left:2px;
  top:32px;
  width:156px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:60px;
  top:360px;
  width:640px;
  height:730px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:730px;
}
#u18 {
  position:absolute;
  left:2px;
  top:357px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:60px;
  top:1090px;
  width:640px;
  height:130px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:130px;
}
#u20 {
  position:absolute;
  left:2px;
  top:57px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:75px;
  top:1100px;
  width:110px;
  height:110px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u22 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:200px;
  top:1100px;
  width:110px;
  height:110px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u24 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:325px;
  top:1100px;
  width:110px;
  height:110px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u26 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:450px;
  top:1100px;
  width:110px;
  height:110px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u28 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:574px;
  top:1100px;
  width:110px;
  height:110px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u30 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:820px;
  top:390px;
  width:15px;
  height:100px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:100px;
}
#u32 {
  position:absolute;
  left:2px;
  top:42px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:800px;
  top:520px;
  width:200px;
  height:15px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:15px;
}
#u34 {
  position:absolute;
  left:2px;
  top:0px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:60px;
  top:370px;
}
#u35_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u35_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
}
#u37 {
  position:absolute;
  left:2px;
  top:22px;
  width:266px;
  word-wrap:break-word;
}
#u35_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u35_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
}
#u39 {
  position:absolute;
  left:2px;
  top:22px;
  width:266px;
  word-wrap:break-word;
}
#u35_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u35_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
}
#u41 {
  position:absolute;
  left:2px;
  top:22px;
  width:266px;
  word-wrap:break-word;
}
#u35_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u35_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
}
#u43 {
  position:absolute;
  left:2px;
  top:22px;
  width:266px;
  word-wrap:break-word;
}
#u35_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u35_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:60px;
}
#u45 {
  position:absolute;
  left:2px;
  top:22px;
  width:266px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:130px;
  top:520px;
  width:500px;
  height:100px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:100px;
}
#u47 {
  position:absolute;
  left:2px;
  top:42px;
  width:496px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:130px;
  top:640px;
  width:500px;
  height:100px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:100px;
}
#u49 {
  position:absolute;
  left:2px;
  top:42px;
  width:496px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:130px;
  top:760px;
  width:500px;
  height:100px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:100px;
}
#u51 {
  position:absolute;
  left:2px;
  top:42px;
  width:496px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:130px;
  top:880px;
  width:500px;
  height:100px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:100px;
}
#u53 {
  position:absolute;
  left:2px;
  top:42px;
  width:496px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:75px;
  top:370px;
  width:60px;
  height:60px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u55 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:130px;
  top:520px;
  width:500px;
  height:460px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:460px;
}
#u57 {
  position:absolute;
  left:2px;
  top:222px;
  width:496px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:330px;
  top:910px;
  width:100px;
  height:50px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u59 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:75px;
  top:370px;
  width:60px;
  height:60px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u61 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
