body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:754px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1478px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1478px;
}
#u1 {
  position:absolute;
  left:2px;
  top:731px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:60px;
  top:260px;
  width:640px;
  height:960px;
}
#u3 {
  position:absolute;
  left:60px;
  top:260px;
  width:640px;
  height:100px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:100px;
}
#u4 {
  position:absolute;
  left:2px;
  top:42px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:75px;
  top:270px;
  width:210px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:206px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:75px;
  top:320px;
  width:210px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:206px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:300px;
  top:270px;
  width:210px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:206px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:300px;
  top:320px;
  width:210px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:206px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:480px;
  top:320px;
  width:30px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:525px;
  top:270px;
  width:160px;
  height:80px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:80px;
}
#u16 {
  position:absolute;
  left:2px;
  top:32px;
  width:156px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:60px;
  top:360px;
  width:640px;
  height:730px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:730px;
}
#u18 {
  position:absolute;
  left:2px;
  top:357px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:60px;
  top:1090px;
  width:640px;
  height:130px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:130px;
}
#u20 {
  position:absolute;
  left:2px;
  top:57px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:75px;
  top:1100px;
  width:110px;
  height:110px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u22 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:200px;
  top:1100px;
  width:110px;
  height:110px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u24 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:325px;
  top:1100px;
  width:110px;
  height:110px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u26 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:450px;
  top:1100px;
  width:110px;
  height:110px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u28 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:574px;
  top:1100px;
  width:110px;
  height:110px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u30 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:60px;
  top:370px;
  width:300px;
  height:60px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u32 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:75px;
  top:445px;
  width:300px;
  height:60px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u34 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:385px;
  top:445px;
  width:300px;
  height:60px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u36 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:75px;
  top:505px;
  width:610px;
  height:570px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:570px;
}
#u38 {
  position:absolute;
  left:2px;
  top:277px;
  width:606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:375px;
  top:445px;
  width:10px;
  height:60px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:60px;
}
#u40 {
  position:absolute;
  left:2px;
  top:22px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:90px;
  top:520px;
  width:580px;
  height:100px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:100px;
}
#u42 {
  position:absolute;
  left:2px;
  top:42px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:102px;
  top:530px;
  width:80px;
  height:80px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u44 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:194px;
  top:520px;
  width:280px;
  height:100px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:100px;
}
#u46 {
  position:absolute;
  left:2px;
  top:42px;
  width:276px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:90px;
  top:635px;
  width:580px;
  height:100px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:100px;
}
#u48 {
  position:absolute;
  left:2px;
  top:42px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:102px;
  top:645px;
  width:80px;
  height:80px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u50 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:194px;
  top:635px;
  width:280px;
  height:100px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:100px;
}
#u52 {
  position:absolute;
  left:2px;
  top:42px;
  width:276px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:75px;
  top:370px;
  width:60px;
  height:60px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u54 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:532px;
  top:530px;
  width:80px;
  height:80px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u56 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:532px;
  top:645px;
  width:80px;
  height:80px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u58 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
