body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:754px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1478px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1478px;
}
#u1 {
  position:absolute;
  left:2px;
  top:731px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:68px;
  top:263px;
  width:640px;
  height:960px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:960px;
}
#u3 {
  position:absolute;
  left:2px;
  top:472px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:390px;
  top:400px;
  width:250px;
  height:250px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
}
#u5 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:150px;
  top:780px;
  width:250px;
  height:250px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
}
#u7 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
