body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:754px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1478px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1478px;
}
#u1 {
  position:absolute;
  left:2px;
  top:731px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:260px;
  top:460px;
  width:250px;
  height:250px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
}
#u3 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:130px;
  top:830px;
  width:60px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:540px;
  top:850px;
  width:60px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:260px;
  top:910px;
  width:60px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:480px;
  top:940px;
  width:60px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:390px;
  top:1020px;
  width:60px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:140px;
  top:930px;
  width:60px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:185px;
  top:630px;
  width:390px;
  height:220px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:220px;
}
#u17 {
  position:absolute;
  left:2px;
  top:94px;
  width:386px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:85px;
  top:283px;
  width:445px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:441px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:92px;
  top:293px;
  width:428px;
  height:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:85px;
  top:273px;
  width:60px;
  height:60px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:530px;
  top:283px;
  width:150px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:355px;
  top:670px;
  width:50px;
  height:50px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
