body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:636px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:1020px;
  width:100px;
  height:100px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u5 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:270px;
  top:1020px;
  width:100px;
  height:100px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:150px;
  top:1020px;
  width:100px;
  height:100px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u9 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:520px;
  top:1020px;
  width:100px;
  height:100px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:400px;
  top:1020px;
  width:100px;
  height:100px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u13 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:80px;
  top:810px;
  width:60px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:260px;
  top:20px;
  width:100px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:20px;
  top:950px;
  width:200px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:220px;
  top:950px;
  width:200px;
  height:60px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:420px;
  top:950px;
  width:200px;
  height:60px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
