<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userpetinfo</key>
	<array>
		<dict>
			<key>petid</key>
			<string>1234</string>
			<key>petelementtype</key>
			<integer>1</integer>
			<key>petname</key>
			<string>精灵宝贝</string>
			<key>petimage</key>
			<string>ball_pixie_plant2.png</string>
			<key>petstatus</key>
			<integer>1</integer>
			<key>petvalueinfo</key>
			<dict>
				<key>hpmax</key>
				<integer>1000</integer>
				<key>mpmax</key>
				<integer>1000</integer>
				<key>pixieAPmax</key>
				<integer>0</integer>
				<key>pixieDPmax</key>
				<integer>0</integer>
				<key>pixieDEXmax</key>
				<integer>0</integer>
				<key>pixieDEFmax</key>
				<integer>0</integer>
			</dict>
			<key>pixieSkills</key>
			<array>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>156</integer>
					<key>skillmpchange</key>
					<integer>-109</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>0</integer>
					<key>skillname</key>
					<string>发芽</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-178</integer>
					<key>skillmpchange</key>
					<integer>-139</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木防加成</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-244</integer>
					<key>skillmpchange</key>
					<integer>-123</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木系掌控</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>petid</key>
			<string>1234</string>
			<key>petelementtype</key>
			<integer>2</integer>
			<key>petname</key>
			<string>精灵</string>
			<key>petimage</key>
			<string>ball_pixie_plant2.png</string>
			<key>petstatus</key>
			<integer>2</integer>
			<key>petvalueinfo</key>
			<dict>
				<key>hpmax</key>
				<integer>1000</integer>
				<key>mpmax</key>
				<integer>1000</integer>
				<key>pixieAPmax</key>
				<integer>0</integer>
				<key>pixieDPmax</key>
				<integer>0</integer>
				<key>pixieDEXmax</key>
				<integer>0</integer>
				<key>pixieDEFmax</key>
				<integer>0</integer>
			</dict>
			<key>pixieSkills</key>
			<array>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>300</integer>
					<key>skillmpchange</key>
					<integer>-1000</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>0</integer>
					<key>skillname</key>
					<string>阳光普照</string>
					<key>skillcdrounds</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-300</integer>
					<key>skillmpchange</key>
					<integer>-500</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>巨木降临</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-555</integer>
					<key>skillmpchange</key>
					<integer>-888</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木旋风</string>
					<key>skillcdrounds</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>petid</key>
			<string>1234</string>
			<key>petelementtype</key>
			<integer>3</integer>
			<key>petname</key>
			<string>精灵王</string>
			<key>petimage</key>
			<string>ball_pixie_plant2.png</string>
			<key>petstatus</key>
			<integer>3</integer>
			<key>petvalueinfo</key>
			<dict>
				<key>hpmax</key>
				<integer>1000</integer>
				<key>mpmax</key>
				<integer>1000</integer>
				<key>pixieAPmax</key>
				<integer>0</integer>
				<key>pixieDPmax</key>
				<integer>0</integer>
				<key>pixieDEXmax</key>
				<integer>0</integer>
				<key>pixieDEFmax</key>
				<integer>0</integer>
			</dict>
			<key>pixieSkills</key>
			<array>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>700</integer>
					<key>skillmpchange</key>
					<integer>-1000</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>森林瞬起</string>
					<key>skillcdrounds</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-800</integer>
					<key>skillmpchange</key>
					<integer>-889</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>光合作用</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-554</integer>
					<key>skillmpchange</key>
					<integer>-344</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木之誓言</string>
					<key>skillcdrounds</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>petid</key>
			<string>1234</string>
			<key>petelementtype</key>
			<integer>4</integer>
			<key>petname</key>
			<string>精灵王他爸</string>
			<key>petimage</key>
			<string>ball_pixie_plant2.png</string>
			<key>petstatus</key>
			<integer>3</integer>
			<key>petvalueinfo</key>
			<dict>
				<key>hpmax</key>
				<integer>1000</integer>
				<key>mpmax</key>
				<integer>1000</integer>
				<key>pixieAPmax</key>
				<integer>0</integer>
				<key>pixieDPmax</key>
				<integer>0</integer>
				<key>pixieDEXmax</key>
				<integer>0</integer>
				<key>pixieDEFmax</key>
				<integer>0</integer>
			</dict>
			<key>pixieSkills</key>
			<array>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>700</integer>
					<key>skillmpchange</key>
					<integer>-1000</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>森林瞬起</string>
					<key>skillcdrounds</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-800</integer>
					<key>skillmpchange</key>
					<integer>-449</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>光合作用</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-554</integer>
					<key>skillmpchange</key>
					<integer>-344</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木之誓言</string>
					<key>skillcdrounds</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>petid</key>
			<string>1234</string>
			<key>petelementtype</key>
			<integer>5</integer>
			<key>petname</key>
			<string>精灵王他爷</string>
			<key>petimage</key>
			<string>ball_pixie_plant2.png</string>
			<key>petstatus</key>
			<integer>3</integer>
			<key>petvalueinfo</key>
			<dict>
				<key>hpmax</key>
				<integer>1000</integer>
				<key>mpmax</key>
				<integer>1000</integer>
				<key>pixieAPmax</key>
				<integer>0</integer>
				<key>pixieDPmax</key>
				<integer>0</integer>
				<key>pixieDEXmax</key>
				<integer>0</integer>
				<key>pixieDEFmax</key>
				<integer>0</integer>
			</dict>
			<key>pixieSkills</key>
			<array>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>700</integer>
					<key>skillmpchange</key>
					<integer>-1000</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>森林瞬起</string>
					<key>skillcdrounds</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-800</integer>
					<key>skillmpchange</key>
					<integer>-889</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>光合作用</string>
					<key>skillcdrounds</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>animateTexturename</key>
					<string>imagename</string>
					<key>animatetexturecount</key>
					<integer>20</integer>
					<key>skillhpchange</key>
					<integer>-554</integer>
					<key>skillmpchange</key>
					<integer>-3446</integer>
					<key>skilltype</key>
					<integer>0</integer>
					<key>skillobject</key>
					<integer>1</integer>
					<key>skillname</key>
					<string>木之誓言</string>
					<key>skillcdrounds</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
