body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:636px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:1020px;
  width:100px;
  height:100px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u5 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:270px;
  top:1020px;
  width:100px;
  height:100px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:150px;
  top:1020px;
  width:100px;
  height:100px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u9 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:520px;
  top:1020px;
  width:100px;
  height:100px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:400px;
  top:1020px;
  width:100px;
  height:100px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u13 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:980px;
  width:640px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:636px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:57px;
  top:784px;
  width:106px;
  height:106px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:106px;
}
#u17 {
  position:absolute;
  left:2px;
  top:45px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:57px;
  top:784px;
  width:107px;
  height:59px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:59px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:70px;
  top:800px;
  width:80px;
  height:80px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u21 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:80px;
  top:810px;
  width:60px;
  height:60px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:394px;
  top:866px;
  width:106px;
  height:106px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:106px;
}
#u25 {
  position:absolute;
  left:2px;
  top:45px;
  width:102px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:270px;
  top:868px;
  width:100px;
  height:102px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:102px;
}
#u27 {
  position:absolute;
  left:2px;
  top:43px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:140px;
  top:868px;
  width:100px;
  height:102px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:102px;
}
#u29 {
  position:absolute;
  left:2px;
  top:43px;
  width:96px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:260px;
  top:20px;
  width:100px;
  height:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
