<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>____ball_buff____</key>
	<string></string>
	<key>plant_root_appear</key>
	<integer>13</integer>
	<key>plant_root_disappear</key>
	<integer>9</integer>
	<key>____ball_element____</key>
	<string></string>
	<key>fire_aura</key>
	<integer>15</integer>
	<key>fire_hit</key>
	<integer>11</integer>
	<key>fire_run</key>
	<integer>15</integer>
	<key>fire_step</key>
	<integer>15</integer>
	<key>plant_aura</key>
	<integer>15</integer>
	<key>plant_hit</key>
	<integer>15</integer>
	<key>plant_run</key>
	<integer>15</integer>
	<key>plant_step</key>
	<integer>15</integer>
	<key>____ball_magic____</key>
	<string></string>
	<key>magic_ball</key>
	<integer>20</integer>
	<key>____ball_table____</key>
	<string></string>
	<key>combo_ball</key>
	<integer>25</integer>
	<key>element_birth</key>
	<integer>24</integer>
	<key>pixie_heal</key>
	<integer>15</integer>
	<key>____const_skill____</key>
	<string></string>
	<key>fire_blade_cast</key>
	<integer>24</integer>
	<key>fire_shield_cast</key>
	<integer>27</integer>
	<key>____const_action____</key>
	<string></string>
	<key>New item</key>
	<string></string>
	<key>fire3move</key>
	<integer>4</integer>
	<key>fire3stop</key>
	<integer>4</integer>
	<key>fire3attack</key>
	<integer>4</integer>
	<key>fire3beated</key>
	<integer>4</integer>
	<key>plant3move</key>
	<integer>4</integer>
	<key>plant3stop</key>
	<integer>4</integer>
</dict>
</plist>
