body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:641px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
  opacity:0.9;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:560px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:40px;
  width:640px;
  height:1100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:542px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1px;
  top:0px;
  width:640px;
  height:40px;
  opacity:0.9;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:210px;
  top:70px;
  width:221px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:60px;
  top:135px;
  width:80px;
  height:685px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:685px;
}
#u9 {
  position:absolute;
  left:2px;
  top:334px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:190px;
  top:132px;
  width:260px;
  height:690px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:690px;
}
#u11 {
  position:absolute;
  left:2px;
  top:337px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:490px;
  top:135px;
  width:80px;
  height:685px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:685px;
}
#u13 {
  position:absolute;
  left:2px;
  top:334px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:60px;
  top:1020px;
  width:390px;
  height:80px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:80px;
}
#u15 {
  position:absolute;
  left:2px;
  top:32px;
  width:386px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:490px;
  top:1020px;
  width:80px;
  height:80px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u17 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:60px;
  top:740px;
  width:80px;
  height:80px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u18_img.selected {
  width:90px;
  height:90px;
}
#u18.selected {
  opacity:0.5;
}
#u18_img.mouseOver {
  width:90px;
  height:90px;
}
#u18.mouseOver {
}
#u19 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:275px;
  top:742px;
  width:80px;
  height:80px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u20_img.selected {
  width:90px;
  height:90px;
}
#u20.selected {
  opacity:0.5;
}
#u20_img.mouseOver {
  width:90px;
  height:90px;
}
#u20.mouseOver {
}
#u21 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:60px;
  top:832px;
  width:510px;
  height:178px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:178px;
}
#u23 {
  position:absolute;
  left:2px;
  top:81px;
  width:506px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:428px;
  width:170px;
  height:100px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:100px;
}
#u25 {
  position:absolute;
  left:2px;
  top:42px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:471px;
  top:428px;
  width:170px;
  height:100px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:100px;
}
#u27 {
  position:absolute;
  left:2px;
  top:42px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:490px;
  top:740px;
  width:80px;
  height:80px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u28_img.selected {
  width:90px;
  height:90px;
}
#u28.selected {
  opacity:0.5;
}
#u28_img.mouseOver {
  width:90px;
  height:90px;
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
